/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

body {
  background-color: #f8f8f8;
}

/*
 * Base structure
 */
.background {
  position: absolute;
  z-index: -1;
  background-image: url("/repaper-it/img/repaper_box.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

.background-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: darkorange;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}

.subtitle {
  font-size: 1.5rem;
}

.cover-container {
  max-width: 42em;
  z-index: 1;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
